{% extends "layout.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}資安週{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Information Security Week</h1>
        <p class="lead">
            資安週，全名「資通安全宣導週」，為了將資安觀念傳遞給全校師生，每年的 12 月份，我們將舉辦各種新奇的活動來宣達「資訊安全」
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
{% endblock %}
