{% extends "vuetify_layout.html" %}
{% load static %}

{% block title %}資安週系列講座{% endblock %}

{% block content %}
<div class="container" id="app">
    <h3 class="d-flex justify-content-center">
        資安系列講座
    </h3>
    <template>
        <v-item-group>
            <v-container>
                <v-row>
                    <v-col cols="12" md="4">
                        <v-item>
                            <v-card>
                                <v-card-title>你的隱私權值錢嗎?</v-card-title>
                                <v-card-text>
                                    <p>日期：12月24日 (二)</p>
                                    <p>時間：18:30 ~ 20:30</p>
                                    <p>地點：逢甲大學資電 125 教室</p>
                                    <p>講師：林子婷</p>
                                </v-card-text>
                                <v-card-actions>
                                    <a class="btn btn-primary" target="_blank" href="https://hackersir.kktix.cc/events/isweek-1" role="button">我要報名</a>
                                </v-card-actions>
                            </v-card>
                        </v-item>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-item>
                            <v-card>
                                <v-card-title>別再不更新了</v-card-title>
                                <v-card-subtitle>windows xp 常見的攻擊手法</v-card-subtitle>
                                <v-card-text>
                                    <p>日期：12月28日 (六)</p>
                                    <p>時間：10:00 ~ 12:00</p>
                                    <p>地點：逢甲大學資電 125 教室</p>
                                    <p>講師：陳昭全</p>
                                </v-card-text>
                                <v-card-actions>
                                    <a class="btn btn-primary" target="_blank" href="https://hackersir.kktix.cc/events/isweek-2" role="button">我要報名</a>
                                </v-card-actions>
                            </v-card>
                        </v-item>
                    </v-col>
                    <v-col cols="12" md="4">
                        <v-item>
                            <v-card>
                                <v-card-title>介於真假之間的假新聞</v-card-title>
                                <v-card-text>
                                    <p>日期：01月09日 (四)</p>
                                    <p>時間：15:00 ~ 16:00</p>
                                    <p>地點：逢甲大學資電 125 教室</p>
                                    <p>講師：王銘宏</p>
                                </v-card-text>
                                <v-card-actions>
                                    <a class="btn btn-primary" target="_blank" href="https://hackersir.kktix.cc/events/isweek-3" role="button">我要報名</a>
                                </v-card-actions>
                            </v-card>
                        </v-item>
                    </v-col>
                </v-row>
            </v-container>
        </v-item-group>
    </template>
</div>
{% endblock %}

{% block js %}
<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        vuetify: new Vuetify(),
    })
</script>
{% endblock %}
