{% extends "layout.html" %}
{% load static %}

{% block title %}知識王{% endblock %}

{% block head %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>

<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" id="app">
    <div v-if="!isLoading">
        <b-alert
            :show="dismissCountDown"
            variant="warning"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            <p class="text-center text-dark">剩餘 [[ dismissCountDown ]] 秒</p>
            <b-progress
                variant="danger"
                :max="dismissSecs"
                :value="dismissCountDown"
                striped
            ></b-progress>
        </b-alert>
        <hr>
        
        <div class="alert alert-secondary" role="alert">
            [[ topic ]]
        </div>
        <hr>
        <div v-for="(option, index) in options">
            <b-button 
                pill
                block 
                variant="outline-secondary"
                @click="send_answer(option)"
                :class="{'my-4': index!=0}"
            >
                [[ option ]]
            </b-button>
        </div>
    </div>

    <!-- Loading -->
    <b-card
        header="讀取題目中"
        align="center"
        border-variant="dark"
        v-if="isLoading"
    >
        <b-card-text>
            <b-spinner style="width: 3rem; height: 3rem;" type="grow" variant="info" label="Large Spinner"></b-spinner>
            <b-spinner style="width: 3rem; height: 3rem;" type="grow" variant="info" label="Large Spinner"></b-spinner>
            <b-spinner style="width: 3rem; height: 3rem;" type="grow" variant="info" label="Large Spinner"></b-spinner>
        </b-card-text>
    </b-card>
</div>
{% endblock %}

{% block js %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            topic: '',
            options: [],
            isLoading: false,
            dismissSecs: 10, //總秒數
            dismissCountDown: 0,
        },
        created: function () {
            get_question();

            let self = this;
            function get_question () {
                axios.get('{% url "question" %}')
                .then((response) => {
                    self.topic = response.data.topic;
                    self.options.push(response.data.option_1);
                    self.options.push(response.data.option_2);
                    self.options.push(response.data.option_3);
                    self.options.push(response.data.option_4);
                });
            }

            self.dismissCountDown = self.dismissSecs;
        },
        methods: {
            countDownChanged(dismissCountDown) {
                this.dismissCountDown = dismissCountDown
                if (this.dismissCountDown == 0) {
                    this.send_answer(option='');
                    // window.location = '{% url "result" %}';
                }
            },
            send_answer: function (option) {
                axios({
                    method: 'post',
                    url: '{% url "answer" %}',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: Qs.stringify({
                        option: option
                    })
                })
                .then((response) => {
                    if (response.data.message == 'success') {
                        let self = this;

                        self.isLoading = true;
                        setTimeout(function(){
                            axios.get('{% url "question" %}')
                            .then((response) => {
                                if (response.data.message == 'success') {
                                    self.topic = '';
                                    self.options = []
                                    self.topic = response.data.topic;
                                    self.options.push(response.data.option_1);
                                    self.options.push(response.data.option_2);
                                    self.options.push(response.data.option_3);
                                    self.options.push(response.data.option_4);
                                    self.dismissCountDown = self.dismissSecs;
                                    self.isLoading = false;
                                }
                                else if (response.data.message == 'result') {
                                    window.location = '{% url "result" %}';
                                }
                            });
                        }, 2000);
                    }
                });
            },

        }
    });
</script>
{% endblock %}
