{% extends "vuetify_layout.html" %}
{% load static %}

{% block title %}知識王 - 排行榜{% endblock %}

{% block content %}
<div class="container" id="app">
    <div class="d-flex justify-content-between">
        <h3>排行榜</h3>
        <a class="btn btn-primary" href="{% url 'game' %}" role="button">再玩一次</a>
    </div>
    <hr>
    <div class="input-group mb-3">
        <input v-model="search" type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="search">
    </div>
    <v-data-table
        :headers="fields"
        :items="ranks"
        :search="search"
        :items-per-page="5"
        class="elevation-1"
        data-app
    ></v-data-table>
</div>
{% endblock %}

{% block js %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            search: '',
            ranks: [],
            fields: [
                {value: 'username', text: '玩家'}, 
                {value: 'score', text: '總分', sortable: true, filterable: false}
            ],
        },
        created: function () {
            get_rank();

            let self = this;
            function get_rank () {
                axios.get('{% url "get_rank" %}')
                .then((response) => {
                    self.ranks = response.data.rank
                    self.isLoading = false;
                });
            }
        },
        methods: {
        },
        computed: {
        }
    });
</script>
{% endblock %}
