{% extends "vue_layout.html" %}
{% load static %}

{% block title %}知識王 - 排行榜{% endblock %}

{% block content %}
<div class="container" id="app">
    <div class="d-flex justify-content-between">
        <h3>排行榜</h3>
        <v-btn href="{% url 'game' %}" role="button">再玩一次</v-btn>
    </div>
    <hr>
    <v-text-field
        v-model="search"
        label="Search"
        single-line
        hide-details
    ></v-text-field>
    <v-data-table
    :headers="fields"
    :items="ranks"
    :page.sync="currentPage"
    :search="search"
    class="elevation-1"
    @page-count="pageCount = $event"
    hide-default-footer
    ></v-data-table>
    <v-text-field
        :value="perPage"
        label="Items per page"
        type="number"
        min="1"
        max="10"
        @input="perPage = parseInt($event, 10)"
    ></v-text-field>
    <v-pagination v-model="currentPage" :length="pageCount" color="bg-primary"></v-pagination>
</div>
{% endblock %}

{% block js %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            isLoading: true,
            perPage: 10,
            currentPage: 1,
            pageCount: 0,
            username: '',
            search: '',
            ranks: [],
            fields: [
                {value: 'username', text: '玩家'}, 
                {value: 'score', text: '總分', sortable: true, filterable: false}
            ]
        },
        created: function () {
            get_rank();

            let self = this;
            function get_rank () {
                axios.get('{% url "get_rank" %}')
                .then((response) => {
                    self.username = response.data.currentuser;
                    self.ranks = response.data.rank
                    self.isLoading = false;
                });
            }
        },
        methods: {
            rowClass(item, type) {
                if (!item) return
                if (item.username === this.username) return 'table-info'
            }
        },
        computed: {
            rows() {
                return this.ranks.length
            }
        }
    });
</script>
{% endblock %}
