{% extends "layout.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block title %}資安週{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Information Security Week</h1>
        <p class="lead">
            資安週，全名「資通安全宣導週」，為了將資安觀念傳遞給全校師生，每年的 12 月份，我們將舉辦各種新奇的活動來宣達「資訊安全」
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'info' %}" role="button">看更多</a>
    </div>
    <h3>特別感謝</h3>
    <div class="card-group">
        <div class="card">
            <img src="{% static "image/ISIP.jpg" %}" class="card-img-top" alt="教育部資安人才培育計畫">
            <div class="card-body">
                <h5 class="card-title">教育部資安人才培育計畫</h5>
            </div>
        </div>
        <div class="card">
            <img src="{% static "image/資安關鍵技術基礎研發計畫.jpg" %}" class="card-img-top" alt="資安關鍵技術基礎研發計畫">
            <div class="card-body">
                <h5 class="card-title">資安關鍵技術基礎研發計畫</h5>
            </div>
        </div>
        <div class="card">
            <img src="{% static "image/3A.jpg" %}" class="card-img-top" alt="三甲科技">
            <div class="card-body">
                <h5 class="card-title">三甲科技</h5>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="{% static "image/IECS.png" %}" class="card-img-top" alt="逢甲大學資訊工程學系">
            <div class="card-body">
                <h5 class="card-title">逢甲大學資訊工程學系</h5>
            </div>
        </div>
        <div class="card">
            <img src="{% static "image/HackerSir.png" %}" class="card-img-top" alt="逢甲大學黑客社">
            <div class="card-body">
                <h5 class="card-title">逢甲大學黑客社</h5>
            </div>
        </div>
        <div class="card">
        </div>
    </div>
</div>
{% endblock %}
